.mat-display-1{
    font-weight: bold;
}
.bgcolor{
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

mat-card{
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    text-align: center;
}
.mat-display-3, p {
    display: inline-block;
    margin-left: 2%;
  }